:root {
    @font-face {
        font-family: 'Minecraft';
        src: url('/fonts/Minecraft.tff') format('Minecraft');
    }
}

*,
::after,
::before {
    box-sizing:border-box;
}


body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    background: url(./images/background.png);
    height: 1117px;
    text-align: left;
    font-family: Minecraft;
    background-attachment: fixed;
    background-size: 100%;
  }

  


